# created by virtualenv automatically
.idea
.vscode
/venv
/media/
/images/
/PYTHON/__pycache__/

PYTHON/data/__pycache__/__init__.cpython-312.pyc
PYTHON/data/__pycache__/cities.cpython-312.pyc
PYTHON/data/__pycache__/marvel.cpython-312.pyc
/PYTHON/log.txt
